

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffcc80;
}

.header-content h1 {
    margin: 0;
}

.header-content #auth a {
    text-decoration: none;
    color: white;
    background-color: #555;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #ffcc80;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/* 상단바의 active 클래스를 스타일링 */
nav ul li a.active {
    color: gray;
    font-weight: bold;
}


#auth {
    display: flex;
    align-items: center;
}

#auth i {
    margin-right: 5px;
}

#auth a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}



.intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.profile-img {
    width: 300px;
    border-radius: 50%;
    margin-right: 20px; /* 이미지와 텍스트 사이의 간격 */
}

.intro-text {
    text-align: left; /* 텍스트 정렬 */
}

.intro-text h2 {
    font-size: 2em;
    color: #333;
}

.intro-text p {
    font-size: 1.2em;
    color: #666;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ffcc80;
    position: fixed;
    width: 100%;
    bottom: 0;
}
